
body{
    background-color:#441e13;
    color:white;
}

div{
    outline: 1px solid yellow;
}

.logocontainer{
    max-width:456px;
    margin-left:auto;
    margin-right:auto;
    margin-top:;
    overflow: hidden; /* make the div grow to accomodate float child elements*/
}

.logo{
    width:205px;
    margin-right: auto;
    margin-left: auto;
    color:white;
    font-size:2.5rem;
    font-weight:bold;
}

.slogan{
    width:330px;
    float:left;
    color:#a37b71;
    font-family: sans-serif;
    font-size: 0.87rem;
    margin-top:18px;
    padding-left: 18px;
    margin-right: auto;
    margin-left: auto;
    
}

.navi{
    background-color:#39180f;
    height: 58px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 456px;
}

.navi ol{
    padding: 15px 10px;
}

.navi li{
    border-right: 1px solid #D4B364;
    display: block;
    float: left;
    font-family: sans-serif;
    padding: 6px 17px;
    font-size: 0.9rem;
}

.navi li:last-child{
    border-right: none;
}

.about{
    background-color: #87a984;
    max-height: 216px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    max-width: 456px; 
}

}
.about h1{
    margin-left: auto;
    width: 10px;
    height: 70 
    
}

.about p{
    font-family: sans-serif;
    margin-right:20px;
    margin-left: 10px;
    font-size: 0.9rem;
    height: 70px;
    color: #edf1da;
}

.middleSection{
    height:615px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 456px;
}

.howWeWork{
    background-color: #dbd8c5;
    max-width: 456px;
    max-height:505px;
    float:left;
    color:#47443b;
    font-family: sans-serif;
}

.howWeWork h2 {
    color:#596c7d;
    padding: 1px 10px;
    font-size:30px;
}

.howWeWork p{ 
    padding:0px 10px;
    font-size: 0.75rem;
}

.sideMenu{
    background-color:96afac;
    height:149px;
    float: left;
}

.sideMenu ol{
    padding:0px 1px;
}

.sideMenu li{
    font-family:sans-serif;
    border-right: 1px solid #ffffff;
    display:block;
    padding:6px 3.7px;
    float: left;
    font-size: 0.9rem;
}

.sideMenu li:last-child{
    border-right: none;
}

