@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');

body{
    margin: 0;
    background-color: #f2f2f2;  
}


div{
    outline: 1px solid lime;
}

/* Header Section */
.header{
    background-color: #2D2F3B;
    height:90px;
    color: #FFFFFF;
    margin: 0;
}

.navigation{
    max-width: 900px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-family: 'Rock Salt', cursive;
    float: left;
    padding-top:10px;
    font-size: 2rem;
    font-weight: 700;
}

.links {
    font-family: 'Lato', sans-serif;
    float: left;
    font-size: 0.75rem;
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 40px;
}

.links a{
    color: white;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
}

.links a:hover{
    color: #666d89;
}

/* Banner Section */
.banner{
    background-color: #f2f2f2;
    height: 500px;
    margin: 0;
}

.bannerbox{
    max-width: 900px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.bannerword{
    float: left;
    outline: solid #2d2f3b 10px;
    height: 150px;
    width: 400px;
    margin-left: 70px;
    margin-top: 180px;
}

.blurb{
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    width: 330px;
    margin-left: 35px;
    margin-top: 35px
}


.description{
    font-family: 'Rock Salt', cursive;
    width: 260px;
    font-size: 1.2em;
    margin-left: 70px;
}


.bannerbox img{
    width: 409.05px;
    height: 500px;
    float: right;
}

/* About Section */
.about{
    background: #2D2F3B;
    height: 300px;
    color: #FFFFFF;
    margin: 0;
}

.words{
    max-width: 900px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.words h1{
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    padding-top: 40px;
    margin-top: 0px;
    margin-left: 80px; 
}

.words p{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 0.7em;
    margin-right: 80px;
    margin-left: 80px;
}

/* Skills & Services Section */
.SSS{
    background-color: #f2f2f2;
    height: 400px;
}

.SSSection{
    max-width: 900px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.SSSection h1{
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    padding-top: 40px;
    margin-left: 80px; 
    margin-top: 0px;
    margin-bottom: ;
}

.skills{
    
}

.services{
    
}

/* Portfolio Section */
.portfolio{
    background-color: #2D2F3B;
    height: 900px;
    color: white;
}

.portbox {
    max-width: 900px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
}

.portbox h1{
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    padding-top: 40px;
    margin-left: 80px;
    margin-top: 0px;
}

.portnavi{
    margin-top:20px;
    margin-bottom: 10px;
    font-size: 0.7rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-left: 80px;
}

.portnavi a{
    color: #666d89;
    text-decoration: none;
    margin-left: 5px;  
    border: 1px solid;
    border-radius: 5px;
    padding:4px;
}

.portnavi a:first-of-type{
    margin-left: 0px;
}

.portnavi a:hover{
    color: #ffffff;
}

/* Contact Section */
.contact{
    background-color: #f2f2f2;
    height: 550px;
}

.contactbox{
    max-width: 900px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.contactbox h1{
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    padding-top: 40px;
    margin-left: 80px;
    margin-top: 0px;
}
/* Form */
form{
    padding-top: 0px;
    width: 400px; 
    float:left;
    color: #2D2F3B;
    margin-left: 80px;
}
            
input,text area{
    font: 1em;
}
            
input{
    width: 400px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    height: 30px;
    border-style: solid;
    color: #2D2F3B;
    padding-left: 10px;
}
            
textarea{  
    height: 150px;
    width: 400px;
    background-color: #f2f2f2;
    color: #2D2F3B;
    border-style: solid;
    padding-left: 10px;
    padding-top: 10px;
}

/* Bottom Banner Section*/
.bottom{
    background-color: #2D2F3B;
    height: 90px;
}

.bottombox{
    max-width: 900px;
    height: 90px;
}