@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');

body{
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/*div{*/
    outline: 1px solid lime;
}

.header{
    background-color: #2D2F3B;
    color: #FFFFFF;
    height: 90px;
}

.nav{
    max-width: 950px;
    margin-left:auto;
    margin-right: auto;   
}

.logo{
    float:left;
    margin-top: 35px;
    font-size: 1.4rem; 
}
.salmon{
    color:#f06c64;
}

.links{
    float:right;
    margin-top: 40px;
    font-size: 0.75rem; 
    color: #4B4E61;
}

.links a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;   
}

.links a:hover{
    color: #f06c64;
}


.banner{
    background-color: #f06c64;
    padding: 20px 0;
    text-align: center;
}
.banner img{
    max-width: 780px;
    width: 90%;   
}

.services{
    max-width:780px;
    height: 400px;
    color:#666d89;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.headservices p{
    color: #979db4;
    font-weight:300;
    font-size: 0.95rem;
}

.threeservices{
    float: left;
    width:260px;
    height:200px; 
    padding: 20px 0px;
}

.threeservices h4{
    float:left;
}

.threeservices p{
    color: #878da9;
    font-weight:300;
    font-size: 0.5rem;
    width: 170px;
    float:left;
    margin-top: -10px;
    margin-bottom: 0;
}

.threeservices img{
    width: 60px;
    height: 60px;
    float:left ;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

/*.threeservices img:nth-last-of-type(){
    margin-left: 0
} */

.portfolio{
    background-color: #2d303a;
    color: #666d89;
    margin-left: auto;
    margin-right: auto;
    height:1150px;
}

.porthead{
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.porthead p{
    font-weight:300;
    font-size: 0.95rem;
}

.porthead img{
    width: 220px;
    height: 190px;
    margin-left: 56.9px;
    margin-top:28px; 
}

.porthead img:nth-last-of-type(3n){
    margin-left: 0px;
}

.AboutUs{
    background-color: #f2f2f2;
    color:#666d89;
    margin-left: auto;
    margin-right: auto;
    max-width: 780px;
}

.AUwords{
    padding-top: 20px;
}

.AUwords p {
    color: #979db4;
    font-weight:300;
    font-size: 0.95rem;
}

.AboutUs img{
    width: 250px;
    height: 250px;
    margin-right: 11.9px;
}

.AboutUs img:last-of-type{
    margin-right: 0px;
}

.blurb{
    width: 250px;
    height: 150px;
    float: left;
    margin-right: 14.9px;
}

.blurb:last-of-type{
    margin-right: 0px;
}

.blurb p{
    color: #878da9;
    font-weight:300;
    font-size: 0.65rem;
    margin-top: -10px;
}

.blurb h4{
    margin-top: 10px;
}

