@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');

body{
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Lato', sans-serif;
}


/*
div{
    outline: 1px solid lime;
}
*/


.header{
    background-color: #2D2F3B;
    color: #FFFFFF;
    height: 90px;
    border-bottom: 6px solid #4B4E61;
}

.nav{
    max-width: 950px;
    margin-left:auto;
    margin-right: auto;   
}

.logo{
    float:left;
    margin-top: 35px;
    font-size: 1.4rem; 
}
.salmon{
    color:#f06c64;
}

.links{
    float:right;
    margin-top: 40px;
    font-size: 0.75rem; 
    color: #4B4E61;
}

.links a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;   
}

.links a:hover{
    color: #f06c64;
}

.banner{
    background-color: #f06c64;
    padding: 20px 0;
    text-align: center;
    border-bottom: 6px solid #ea676b;
}
.banner img{
    max-width: 780px;
    width: 90%;   
}

.services{
    max-width:780px;
    height: 400px;
    color:#666d89;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-bottom: 6px solid #FFFFFF;
}

.headservices p{
    color: #979db4;
    font-weight:300;
    font-size: 0.95rem;
}

.threeservices{
    float: left;
    width:260px;
    height:200px; 
    padding: 20px 0px;
}

.threeservices h4{
    float:left;
}

.threeservices p{
    color: #878da9;
    font-weight:300;
    font-size: 0.5rem;
    width: 170px;
    float:left;
    margin-top: -10px;
    margin-bottom: 0;
}

.threeservices img{
    width: 60px;
    height: 60px;
    float:left ;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.portfolio{
    background-color: #2d303a;
    color: #666d89;
    margin-left: auto;
    margin-right: auto;
    height: 770px;
    border-bottom: 6px solid #4B4E61;
}

.porthead{
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.porthead p{
    font-weight:300;
    font-size: 0.95rem;
}

.dropnavi{
    margin-top:20px;
    margin-bottom: 10px;
    font-size: 0.7rem;
    font-weight: 400;
}

.dropnavi a{
    color: #666d89;
    text-decoration: none;
    margin-left: 5px;  
    border: 1px solid;
    border-radius: 5px;
    padding:4px;
}

.dropnavi a:first-of-type{
    margin-left: 0px;
}

.dropnavi a:hover{
    color: #ffffff;
}

.porthead img{
    width: 180px;
    height: 155px;
    margin-left:16.9px;
    margin-top:20px; 
}

.porthead img:nth-last-of-type(4n){
    margin-left: 0px;
}

.AboutUs{
    background-color: #f2f2f2;
    color:#666d89;
    margin-left: auto;
    margin-right: auto;
    max-width: 780px;
    height: 600px;
    border-bottom: 6px solid #FFFFFF;
}

.AUwords{
    padding-top: 20px;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.AUwords p {
    color: #979db4;
    font-weight:300;
    font-size: 0.95rem;
}

.AboutUs img{
    width: 250px;
    height: 250px;
    margin-right: 11.9px;
}

.AboutUs img:last-of-type{
    margin-right: 0px;
}

.blurb{
    width: 250px;
    height: 150px;
    float: left;
    margin-right: 14.9px;
}

.blurb:last-of-type{
    margin-right: 0px;
}

.blurb p{
    color: #878da9;
    font-weight:300;
    font-size: 0.65rem;
    margin-top: -10px;
}

.blurb h4{
    margin-top: 10px;
}

.blurb img{
    width: 154px;
    height: 34px;
    margin-top: 10px;
}

.quote{
    background-color: #f06c64;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    color: #f0d8d9;
     border-bottom: 6px solid #ea676b;
}

.quotep{
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.quotep p {
   font-weight:300;
    font-size: 0.95rem;
}

.quotesection{
    max-width: 780px;
    height:360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
}
.boxinfo{
    width: 515.9px;
    height:360px;
    float:left;
    color: #f48c8f;
}

.strip{
    width: 515.9px;
    background-color: #d6564f;
    height:40px;
    margin-bottom:20px;
    border-radius: 7px;
}

.strip:nth-of-type(4){
    height: 180px;
    margin-bottom: 0px;
}

.strip p{
    margin-top: 0px;
    padding-top: 13px;
    padding-left: 15px;
    font-size: 0.7rem;
    font-weight: 300;
}
.contactinfo{
    width:250px;
    float:right;
}

.contactinfo h4{
    margin-top:0px;
}

.contactinfo img{
    float:left;
    margin-right: 10px;
    margin-top: 9px;
}
.contactinfo p{
    margin-bottom:10px;
    font-weight:300;
    font-size: 0.6rem;
}

.contactinfo p:nth-of-type(2){
    margin-top: 20px;
}

.bottombar{
    background-color: #2D2F3B;
    color: #666d89;
    height: 90px;
     border-bottom: 6px solid #4b4e61;
}

.things{
    max-width: 780px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.things p{
    float:left;
    font-weight: 400;
    font-size: 0.7rem;
    margin-top: 10px;
}

.things img{
    float:right;
    height:33px ;
    width:160px; 
}

