
body{
    background-color:#441e13;
    color:white;
}

div{*/
/*    outline: 1px solid yellow;*/
}

.logocontainer{
    max-width:920px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    overflow: hidden; /* make the div grow to accomodate float child elements*/
}

.logo{
    width:205px;
    float:left;
    color:white;
    font-size:2.5rem;
    font-weight:bold;
}

.slogan{
    width:380px;
    float:left;
    color:#a37b71;
    font-family: sans-serif;
    font-size: 0.9rem;
    margin-top:18px;
}

.navi{
    background-color:#39180f;
    height: 62px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 920px;
}

.navi ol{
    padding: 18px 10px;
}

.navi li{
    border-right: 1px solid #D4B364;
    display: block;
    float: left;
    font-family: sans-serif;
    padding: 6px 20px;
}

.navi li:last-child{
    border-right: none;
}

.about{
    background-color: #87a984;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    max-width: 920px; 
    
}
.about img{
    height: 170px;
    width: 140px;
    float:left;
    margin-left: 50px;
    margin-top: 10px;

}
.about h1{
    margin-left: 240px;
    margin-right: 550px;
    font-size:40px;
    padding-top: 40px;
}

.about p{
    font-family: sans-serif;
    margin-left: 240px;
    margin-right: 230px;
    color: #edf1da;
}

.middleSection{
    height:615px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 920px;
}

.sideMenu{
    background-color:96afac;
    width:200px;
    height:615px;
    float:left;
}

.sideMenu ol{
    padding:0px 30px;
}

.sideMenu li{
    font-family:sans-serif;
    border-bottom: 1px solid #ffffff;
    display:block;
    padding:10px 1px
}

.howWeWork{
    background-color: #dbd8c5;
    width: 720px;
    height:615px;
    float:left;
    color:#47443b;
    font-family: sans-serif;
}

.howWeWork h2 {
    color:#596c7d;
    padding: 1px 50px;
    font-size:30px;
}

.howWeWork p{ 
    padding:5px 50px;
    font-size: 15px;
}

